
/** Body **/

html,
body {
    font-weight: 400;
    background-color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,h2,h3,h4,p {
    color:grey;
    font-size: 2em;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a,i {
    text-decoration: none;
}

/** Fixes to Bootstratp**/

.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.active a {
    color: #007bff!important
}

a:hover { color: #007bff !important; }

/* Layout */



#response {
    overflow: hidden;
    margin-top: 65px;
    margin-bottom: 30px;
    padding: 0;
}

.align-right {
    text-align: right;
}

.content {
    padding: 0 10px 0 10px;
}

main .row {
    margin: 0;
}

/** Settings **/

#settingsResponse {

    border: 1px solid #dfdfdf;
    padding-top: 30px;
    margin-top: 80px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

#settingsResponse input {
    width: 100px;
    margin-bottom: 20px;
}


/** Dump **/

.spacer {
    box-sizing: border-box;
    height: auto;
    padding: 10px;
}

.ascii {
    width: 10px;
    padding: 0;
}

.table {
    margin-bottom: 0;
}

.td-spacer {
    width: 10px;
}

#dumpResponse {
    border: 1px solid #dfdfdf;
    overflow: hidden;
    font-size: 96%;
}

#dumpResponse table {
    border-spacing: 0 0;
    padding: 0 0 0 0;
}

#dumpResponse table th {
    text-align: left;
    font-weight: 500;
}

#dumpNav {
    font-size: 96%;
}


#dumpNav .navButtons {
    margin-right: 20px;
    margin-top: 20px;
    float: left;
}

#goDump {
    margin-left: 20px;
}

#dumpNav .dumpGroup  {
    margin-right: 10px;
    margin-top: 20px;
    width: 380px;
    float: left;
}
#dumpNav .group-gap  {
    margin-right: 20px;
}

@media (max-width: 900px) { 
    .ascii { 
        display: none; 
    } 
    .ascii-header {
        display: none; 
    }
}

/* Write */

#writeCompleted {
    border: 1px solid #dfdfdf;
    min-height: 180px;
    vertical-align: middle;
    text-align: center;
    padding-top: 30px;
    margin-top: 80px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#writeCompleted h2 {
    margin-top: 20px;
}

.failedAddresses {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    column-count: 5;
    column-gap: 20px;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: #007bff;
    text-align: center;
    vertical-align: middle;
    font-size: 1.1em;
}

#hexArea {  
    margin-bottom: 20px;
}

#intelHex {
    font-family: monospace;
    font-size: 1.2em;
    border: 0;
    width: 100%;
    height: 500px;
    outline: none;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #dfdfdf;
    white-space: pre;
}

#writeProgress {
    margin-top: 20px;
}

#writeResponse button {
    margin-right: 20px;
    margin-bottom: 20px;
}

#writeProgress h2 {
    font-size: 1em;
}


/* Connect */

#connectSerial {
    margin-top: 150px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.navButtons button  {
    margin-right: 10px;
}

.list-header:hover {
    color: white !important;
    cursor: default;
}

.remember {
    margin-left: 20px;
    margin-top: 40px;
}

/* Error */

#errorMessage {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #dfdfdf;
    width: 80%;
    padding: 30px 20px;
    height: 200px;
    text-align: center;
}

#errorMessage span {
    margin-top: 20px;
}

/* Waiting */

#waiting {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #dfdfdf;
    width: 80%;
    padding: 15px 15px;
    min-height: 220px;
    text-align: center;
}

#waiting h1 {
    margin-bottom: 15px;
}

#waiting h2 {
    font-size: 1.4em;
}

#cancelWait {
    margin-top: 15px;
}


/* Erase */

#erasePrompt {
    border: 1px solid #dfdfdf;
    height: 240px;
    vertical-align: middle;
    text-align: center;
    padding: 30px 20px;
    margin-top: 80px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#eraseNav {
    margin-top: 30px;
    width: 440px;
    margin-left: auto;
    margin-right: auto;
}

#goErase {
    margin-left: 20px;
}

#eraseNav .dumpGroup  {
    margin-right: 10px;
    margin-top: 20px;
    float: left;
}
#eraseNav .group-gap  {
    margin-right: 20px;
}

#eraseProgress {
    margin-top: 30px;
}

/** Navbar **/

.navbar-dark .navbar-toggler {
    color: #000;
}

.navbar-toggler {
    padding: 3px;
    font-size: 1em;
    border: 0;
}

.navbar-toggler-icon {
    width: 1.2em;
    height: 1.2em;
    
}
